
<header>
  <app-header [infos]="infos" ></app-header>
</header>

<div class="px-4">
  <section >
    <div style="text-align:justify">
      {{ infos.profile }}
    </div>
  </section>
  <section>
    <div class="title">EXPERIENCE PROFESSIONELLE</div>
    <app-experiences [experience]="experience" *ngFor="let experience of experiences$"></app-experiences>
  </section>

  <section>
    <div class="title">COMPETENCES ET LANGUES</div>
    <app-competences [competences]="competences$" [langues]="langues$" ></app-competences>
  </section>

  <section>
    <div class="title">FORMATION</div>
    <app-formations [formation]="formation" *ngFor="let formation of formations"></app-formations>
  </section>

  <section>
    <div class="title">INTERETS</div>
    <ul>
      <li *ngFor="let interet of interets$">{{ interet.interet }}</li>
    </ul>
  </section>
</div>

